@page
@using MyApplication.Domain.Enums
@model Web_Application.Pages.AddRecipeModel
@{
	ViewData["Title"] = "Add Recipe";
}

<div class="Addrecipe-page">
	<p class="font-big" style="display:@Model.Display">@Model.Message</p>
	<h1 style="grid-column=1/-1; text-align:center;">Add New Recipe</h1>
	<form class="recipe-form" method="post" enctype="multipart/form-data">
		<label asp-for="recipeDTO.recipeName" class="lbl-recipe">Recipe Name</label>
		<input asp-for="recipeDTO.recipeName" class="recipe-input" type="text" />
		<span class="warning-span" asp-validation-for="recipeDTO.recipeName"></span>
		<label asp-for="recipeDTO.description" class="lbl-recipe">Image</label>
		<input asp-for="recipeDTO.image" type="file" accept="image/png, image/jpeg" />
		<label asp-for="recipeDTO.Recipetype" class="lbl-recipe">Recipe Type</label>
		<select id="recipe-type" asp-for="recipeDTO.Recipetype" class="recipe-input" placeholder="-">
			<option value="">-</option>
			@foreach(recipetype type in Enum.GetValues(typeof(recipetype)))
			{
				<option value="@type">@type.GetEnumDescription()</option>
			}
		</select>
		<label asp-for="recipeDTO.description" class="lbl-recipe">Description</label>
		<textarea asp-for="recipeDTO.description" class="recipe-input desc-input" type="text"></textarea>
		<span class="warning-span" asp-validation-for="recipeDTO.description"></span>
		<label asp-for="recipeDTO.ingredients" class="lbl-recipe">Ingredients</label>
		<textarea asp-for="recipeDTO.ingredients" class="recipe-input desc-input" type="text"></textarea>
		<span class="warning-span" asp-validation-for="recipeDTO.ingredients"></span>
		<label asp-for="recipeDTO.preptime" class="lbl-recipe">Preparation Time<br />(in minutes)</label>
		<input asp-for="recipeDTO.preptime" class="recipe-input" type="number" />
		<span class="warning-span" asp-validation-for="recipeDTO.preptime"></span>
		<label asp-for="recipeDTO.cooktime" class="lbl-recipe">Cooking Time<br />(in minutes)</label>
		<input asp-for="recipeDTO.cooktime" class="recipe-input" type="number" />
		<span class="warning-span" asp-validation-for="recipeDTO.cooktime"></span>
		<label asp-for="recipeDTO.steps" class="lbl-recipe">Steps</label>
		<textarea asp-for="recipeDTO.steps" class="recipe-input desc-input" type="text" ></textarea>
		<span class="warning-span" asp-validation-for="recipeDTO.steps"></span>
		<div id="maincourse" style="display:none;">
			<label asp-for="MainCourse.cuisineType" class="lbl-recipe">Cuisine Type</label>
			<input asp-for="MainCourse.cuisineType" class="recipe-input" type="text" />
			<span class="warning-span" asp-validation-for="MainCourse.cuisineType"></span>
			<label asp-for="MainCourse.servingSuggestion" class="lbl-recipe">Serving suggestion</label>
			<textarea asp-for="MainCourse.servingSuggestion" class="recipe-input desc-input" type="text" ><</textarea>
			<span class="warning-span" asp-validation-for="MainCourse.servingSuggestion"></span>
			<label asp-for="SelectedDiets" class="lbl-recipe" style="grid-column:1/-1;"><b>Diet Restrictions</b></label>
			@foreach(Diet diet in Enum.GetValues(typeof(Diet)))
			{
				<span class="lbl-recipe">@diet.GetEnumDescription()</span>
				<input class="checkbox-stick-left" type="checkbox" name="selectedDiets" value="@diet" checked="@(Model.SelectedDiets != null && Model.SelectedDiets.Contains(diet))" />
			}
			<input asp-page-handler="MainCourse" style="grid-column:1/-1" type="submit" value="Add Recipe" class="user-input btn-user-input" />
		</div>

		<div id="drink" style="display:none;">
			@*<h1>DRINKS</h1>*@
			<label asp-for="Drink.alcoholic" class="lbl-recipe">Alcoholic</label>
			<input asp-for="Drink.alcoholic" class="checkbox-stick-left" type="checkbox" />
			
			<label asp-for="Drink.drinkType" class="lbl-recipe">Drink Type</label>
			<input asp-for="Drink.drinkType" class="recipe-input" type="text" />
			<span class="warning-span" asp-validation-for="Drink.drinkType"></span>
			<label asp-for="Drink.glassType" class="lbl-recipe">Glass Type</label>
			<input asp-for="Drink.glassType" class="recipe-input" type="text" />
			<span class="warning-span" asp-validation-for="Drink.glassType"></span>
			<input asp-page-handler="Drink" style="grid-column:1/-1" type="submit" value="Add Recipe" class="user-input btn-user-input" />
		</div>

		<div id="dessert" style="display:none;">
			@*<h1>DESSERT</h1>*@
			<label asp-for="Dessert.dessertType" class=" lbl-recipe">Dessert Type</label>
			<input asp-for="Dessert.dessertType" class="recipe-input" type="text" />
			<span class="warning-span" asp-validation-for="Dessert.dessertType"></span>
			<label asp-for="Dessert.servingMethod" class="lbl-recipe">Serving method</label>
			<textarea asp-for="Dessert.servingMethod" class="recipe-input desc-input" type="text"></textarea>
			<span class="warning-span" asp-validation-for="Dessert.servingMethod"></span>
			<label asp-for="Dessert.topping" class="lbl-recipe">Topping</label>
			<textarea asp-for="Dessert.topping" class="recipe-input desc-input" type="text"></textarea>
			<span class="warning-span" asp-validation-for="Dessert.topping"></span>
			<input asp-page-handler="Dessert" style="grid-column:1/-1" type="submit" value="Add Recipe" class="user-input btn-user-input" />
		</div>

		
	</form>
</div>

@section Scripts {
	<script>
		$(document).ready(function () {
			$('#recipe-type').change(function () {
				var type = $(this).val();

				$('#maincourse').hide();
				$('#drink').hide();
				$('#dessert').hide();


				// Show the appropriate recipe container based on the selected type
				if (type === 'Maincourse') {
					$('#maincourse').show();
				} else if (type === 'Drink') {
					$('#drink').show();
				} else if (type === 'Dessert') {
					$('#dessert').show();
				} else{
					$('#maincourse').hide();
					$('#drink').hide();
					$('#dessert').hide();
				}
			});
		});
	</script>
}